@CHARSET "UTF-8";
.row>div{
	width:100px;
	height:100px;
	background-image: url("../imgs/5.jpg");
	background-size:100px 100px;
	
}
.line{
	display: inline-block;
}
#more{
	width:200px;
	height:200px;
}
#big{
	width:200px;
	height:200px;
	background-size:100%;

}